<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h3 class="mt-5 text-center"><%= @user.name %>さんのページ</h3>
  
    <div class="d-flex justify-content-end mb-5">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 offset-sm-2 border">
    <ul class="nav nav-tabs nav-justified mb-5 mt-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿  <span class="badge badge-secondary"><%= @count_microposts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー中  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
    </ul>
    <div class="d-flex justify-content-center">
      <%= render 'users', users: @followers %>
    </div>
  </div>
</div>