<div class="text-center">
  <h2>投稿編集</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @post, local: true) do |f| %>
    
      <div class="form-group">
        <%= f.label :name, '作品タイトル' %>
        <%= f.text_area :title, class: 'form-control', rows: 1, placeholder:"最大５０文字" %>
      </div>
      
      <div class="form-group">
        <%= f.label :name, '画像をアップロード', class:"mb-2"%>
        <%= f.file_field :image, class: 'form-control-file', rows: 5 %>
      </div>
      
      <div class="form-group">
        <%= f.label :name, '評価 ☆' %>
        <%= f.select :review,  [1, 2, 3, 4, 5], {include_blank: '選択ボックス'}, class: 'form-control col-sm-3'%>
      </div>
      
      <div class="form-group">
        <%= f.label :name, '感想' %>
        <%= f.text_area :content, class: 'form-control', rows: 5, placeholder:"最大１０００文字" %>
      </div>
      
      <div class="btn-lg">
        <%= f.submit '投稿する', class: 'btn btn-outline-dark btn-block' %>
      </div>
    <% end %>
  </div>
</div>