<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :title, class: 'form-control', rows: 5 %>
    <%= f.file_field :image, class: 'form-control', rows: 5 %>
    <%= f.text_area :review, class: 'form-control', rows: 5 %>
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
  </div>
  <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
<% end %>