<h5 class="text-center mb-5 mt-5"><%= link_to @post.user.name, user_path(@post.user) %>さんの投稿</h5>
 
<div class="row">
  <div class="col-sm-8 offset-sm-2 border rounded">
    <div class="col-md-5 mt-5 float-left">
      <img class="rounded" src="<%= @post.image.url if @post.image? %>" alt="" width="300px" height="420px">
    </div>
    <div class="col-md-7 float-right pl-5">
      <h3 class="mt-5"><%= @post.title %></h3>
      <p class="">☆<%= @post.review %></p>
      <p class=""><%= @post.content %></p>
      <p class=""><small class="text-muted"><%= @post.updated_at %></small></p>
      <div class="text-right mb-5">
        <%= render 'favorites/favorite_button', post: @post %>
        <% if current_user == @post.user %>
          <%= link_to '編集', edit_post_path(@post), class: 'btn btn-outline-dark btn-sm' %>
          <%= link_to "削除", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-dark btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


